<h1 class="text-3xl ">List Pokemons</h1>
<h2 class="text-xl ">
  Current Page {{currentPage()}}
</h2>
<hr class="my-2">


@if (pokemosList().length !==0) {
<pokemons-list [pokemonsList]="pokemosList()"></pokemons-list>

} @else {
<pokemon-list-skeleton />

}

<div class="flex justify-between">
  <button class="mt-2"
  [disabled]="currentPage() === 1"
  [routerLink]="['/pokemons/page', currentPage()! -1]">Prev</button>
  <button class="mt-2"
  [routerLink]="['/pokemons/page', currentPage()! +1]"
  >Next</button>

</div>
